.logo {
	width: 200px;
}
.box-registration {
background-color: #fff;
}
body#Registration{
background-color: #f6f8f8;
}
.bg-registration	{
	background-image: url('assets/anes-sabitovic-286668.jpg');
	background-size: cover;

}
.input-material {
    border: none;
    border-bottom: 2px solid #cecece;
}

.input-material:focus {
    border: none;
    border-bottom: 2px solid #007bff;
    box-shadow: none;
}
.style-button	{
	letter-spacing: 3px;
}